{# --- Main Service Secrets --- #}
{% for key, value in deployments.docker_compose.stack_env.items() %}
{{ key }}="{{ value | string }}"
{% endfor %}

{# --- Dependencies Secrets --- #}
{%- if dependencies is defined and dependencies %}
{%- for dep_name, dep_config in dependencies.items() %}
{%- if dep_config.environment is defined %}
{%- for key, value in dep_config.environment.items() if 'secret' in value or 'password' in key|lower or 'token' in key|lower %}
{{ key }}="{{ value | string }}"
{% endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}