version: "3.8"

services:
  grafana:
    image: {{ image }}
    container_name: {{ container_name }}
    hostname: {{ hostname }}
    restart: {{ restart_policy }}
    env_file:
      - stack.env
    networks:
      - docker-internal
      {% if expose_service %}
      - services-exposed
      {% endif %}
      {% if secure_service %}
      - services-secured
      {% endif %}
    ports:
      - "{{ port_grafana }}:{{ container_port }}"
    volumes:
      {% for dir in volume_dirs %}
      - "{{ docker_base_path }}/{{ service_name }}/{{ dir }}:/var/lib/grafana"
      {% endfor %}
    {% if default_healthcheck %}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:{{ container_port }}"]
      interval: 30s
      timeout: 5s
      retries: 3
    {% endif %}
    {% if traefik %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ service_name }}.rule=Host(`{{ dns_name }}`)"
      - "traefik.http.routers.{{ service_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ service_name }}.tls=true"
    {% endif %}

networks:
  docker-internal:
    external: true
    name: docker-default
  {% if expose_service %}
  services-exposed:
    external: true
  {% endif %}
  {% if secure_service %}
  services-secured:
    external: true
  {% endif %}
