# Combined Environment Variables
PUID={{ docker_user_uid }}
PGID={{ docker_user_gid }}
TZ={{ timezone }}

# Web & DNS Settings
port={{ port_grafana }}
exposed_dns_name={{ dns_name if expose_service else "" }}
secured_dns_name={{ dns_name if secure_service else "" }}
frame_protect=true
ws_origin_check=true

# Logging
log_level=info

# Extra Environment Variables
{% for key, value in extra_env_vars.items() %}
{{ key }}={{ value }}
{% endfor %}
