namespace: iac_services # Dein Firmen- oder Projekt-Namespace
name: traefik
version: 1.0.0
readme: README.md
authors:
  - Dein Name <dein@email.com>
description: Ansible Collection to deploy and manage Traefik as a service with SSoT.
license:
  - MIT
